# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.svg

# Allow images in assets folder
!assets/
!assets/*

# Videos
*.mp4
*.avi
*.mov
*.mkv
*.webm
*.flv
*.wmv

# Model test script
modeltest.py

runs\detect\predict\*

# Archivos de entorno y secretos
.env

# Ignorar también entornos virtuales y la carpeta de pesos grandes
venv/
__pycache__/
runs/
*.pt